@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Archivo+Black&family=Bigshot+One&family=Bowlby+One+SC&family=Charm:wght@400;700&display=swap');

#app {
  background-color: #65C7E8;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}